
<body>
    <main class="table">
        <section class="table_header">
     <h1 class="design">LEAGUE TABLE</h1>
        </section>
        <section class="table_body">
            <table class="design">
                <thead>
                    <tr>
                        <th>POS</th>
                        <th>TEAM</th>
                        <th>PTS</th>
                        <th>GD</th>
                        <th>PL</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                    </tr>
                </thead>
                <tbody class="design2">
                    <tr>
                        <td>1</td>
                        <td><img src="../../assets/Arsenal_FC.png">Arsenal</td>
                        <td>24</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img src="../../assets/download (4).jfif">Boltan</td>
                        <td>19</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img src="../../assets/download (1).jfif">Coventry</td>
                        <td>17</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><img src="../../assets/download (2).jfif">Blackburn</td>
                        <td>10</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><img src="../../assets/download (3).jfif">Sunderland</td>
                        <td>9</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><img src="../../assets/download (3).jfif">Sunderland</td>
                        <td>9</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td><img src="../../assets/download (3).jfif">Sunderland</td>
                        <td>6</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td><img src="../../assets/download (3).jfif">Sunderland</td>
                        <td>6</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>

                    <tr>
                        <td>9</td>
                        <td><img src="../../assets/download (3).jfif">Sunderland</td>
                        <td>5</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td><img src="../../assets/download (3).jfif">Sunderland</td>
                        <td>5</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>

                    <tr>
                        <td>9</td>
                        <td><img src="../../assets/download (3).jfif">Sunderland</td>
                        <td>5</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    
                </tbody>
            </table>
        </section>
        </main>
</body>
